* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
}
/*header css*/
header {
	background-color: #00ACEB;
}
header h1 {
	padding: 20px;
	display: inline-block;
	color: #EB7900;
}

header span {
	color: white;
}
header ul {
	font-size: 20px;
	display: inline-block;
	padding: 30px;
}
header ul li {
	padding: 0px 13px;
	display: inline-block;
}
header ul li a {
	color: white;
}
header ul li a:hover {
	color: #EB7900;
}
.current {
	color: #EB7900;
}
/*-------------------------------------------------------------------------------------*/
/*home page container*/
.continer {
	max-width: 1200px;
	margin: auto;
}
.continer-description {
	overflow: auto;
	border-bottom: 2px solid rgba(0,0,0,0.2);
}
.continer-description img {
	max-width: 600px; 
	float: right;
	padding: 30px 0px;
}
.continer-description-text {
	padding: 70px;
}
.cscourses {
	font-size: 40px;
	font-weight: bold;
	color: #00749E;
}
.cscourses span {
	color: #EB7900;
}
.cscourses-description {
	font-size: 30px;
	color: #00749E;
}
.continer-description p {
	font-weight: bold;
	position: relative;
	top: 50px;
	width: 45%;
}
.AllCourses {

}
.AllCourses-div {
	padding: 15px;
	overflow: auto;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.AllCourses-cat {
	clear: left;
	padding: 10px 0px;
	font-size: 30px;
	font-weight: bold;
	color: #00749E;
}
.course-image {
	margin-right: 20px;
	float: left;
	width: 210px;
	height: 300px;
	box-shadow: 0px 0px 10px rgba(96,96,96,0.5);
}
.course-P {
	padding: 10px 10px;
	font-weight: bold;
	font-size: 20px;
	color: #EB7900;

}
.course-P span {
	color: #00749E; 
}
/*add_course container*/
.continer-formDiv {
	max-width: 600px;
	border: solid #00749E;
	border-radius: 5px;
	padding: 40px;
	margin: 50px auto;
	box-shadow: 0px 0px 10px rgba(96,96,96,0.5);
}
.continer-formDiv label {
	font-size: 25px;
	font-weight: bold;
	color: #EB7900;
}
.continer-formDiv input, select, textarea{
	box-shadow: 0px 0px 10px rgba(96,96,96,0.5);
	outline-color: #EB7900;
	border: solid #00749E;
	width: 100%;
	margin: 5px auto 30px auto;
	padding: 8px;
	font-size: 18px;
	border-radius: 5px;
}
.continer-formDiv input[type="submit"] {
	background-color: #00749E;
	color: white;
}

.continer-formDiv input[type="submit"]:hover {
	background-color: #EB7900;
	cursor: pointer;
}
.continer-formDiv div {
	display: none;
	color: white;
	margin: 2px 0px 2px 0px;
	padding: 2px 10px 2px 10px;
	background-color: rgba(255,51,51,0.8);
	border-radius: 3px;
	box-shadow: 0px 0px 2px rgba(96,96,96,0.5);
}
/*-------------------------------------------------------------------------------------*/

/*footer css*/
footer {
	clear: right;
	color: white;
	background-color: #00ACEB;
}
.footer-information {
	text-align: center;
}
.footer-information-Box {
	vertical-align: top;
	text-align: left;
	padding: 20px 30px;
	display: inline-block;
}
.footer-information-Box-discription {
	color: #EB7900;
	font-weight: bold;
	font-size: 25px;
}
.footer-information-Box li {
	padding: 5px 10px;
}
.footer-information-Box a {
	font-size: 18px;
	color: white;
}

.footer-copyright {
	border-top: 1px solid rgba(255,255,255,0.5);
	padding: 20px;
	text-align: center;
}


/*-------------------------------------------------------------------------------------*/
